 .about-section{
    margin-top: 100px;
}
.h2{
     display: flex; 
     justify-content: center;
font-size: 2.5rem;
padding-top: 20px;
margin-bottom: 20px;
}
.text, .sub-class{
    color: #999;
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.6;
}
.stats-grid{
  display: grid;  
  grid-template-columns: repeat(4 , 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 50px auto 0;
}
.stats-num{
    font-size: 2.5rem;
    color: #39ff14;
    margin: 0;
}
.stats-label{
    font-size: 11px;
    color: #666;
    letter-spacing: 2px;
    margin-top: 5px;
}