.features-section{
    background-color: #0d122b;
    color: #fff;
    gap: 20px;
    padding: auto;
}
.bento{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;  
    gap: 20px;
    
  
    /* grid-template-areas: 
        "premium  mobile     global"
        "premium  exclusive  resource"
        "premium  exclusive  resource" */
        
    /* max-width: 1200px; */
    /* margin:  50px auto; */

}
.premium{
   background-color: #1a2245; 
    grid-column: 1;
    grid-row: span 2;
}
.mobile{
background-color:#1a2245;
grid-column: 2;
grid-row: span 2;}
 .global{
    background-color: #1a2245;
grid-column: span 3;
grid-row:span 1;
}
.exclusive{
background-color: #1a2245;
grid-column: span 2;
grid-row: 2;

}
.resource{
    background-color: #1a2245;
 grid-column: 3;   
 grid-row: 2;
}

/* .premium { grid-area: premium; }
.mobile { grid-area: mobile; }
.exclusive { grid-area: exclusive; }
.global { grid-area: global; }
.resource { grid-area: resource; } */


.card {
    background: #0d122b;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #1a2245;
    overflow: hidden;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content:center; 
} 

/* .card img {
    width: 40px;
    margin-bottom: 15px;
} */

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #fff;
}

.card p {
    color: #888;
    font-size: 13px;
    /* line-height: 1.6; */
}

.premium p { margin-top: auto; } 